<nav class="navbar">
    <div class="logo">
        <a href="/">Storefront</a>
    </div>
    <ul class="nav-links">
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="nav-icons">
        <a href="{{ store.get_absolute_url }}"><img src="/static/product_post/icons/login1.svg" alt="login" width="30" height="30"></a>
        <a href="{{ store.get_absolute_url }}"><img src="/static/product_post/icons/register1.svg" alt="login" width="30" height="30"></a>
    </div>
</nav>
