{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Storefront{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    {% endblock %}
</head>
<body>
    {% block navbar %}
        {% include '../navbar.html' %}
    {% endblock %}
    
    <div class="content">
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
</html>
