{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}WanderMart{% endblock %}</title>
    <!-- Default CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    
    <!-- Allow additional CSS to be added per page -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1><a href="/">WanderMart</a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/storefront/">Stores</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
