{% extends "product_post/base.html" %}
{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block content %}
<body class="login-page">

    <div class="login-container">
        <p class="back-link">
            <a href="{% url 'product_post:product_list' %}">← Back to Homepage</a>
        </p>

        <h1 class="title">Wandermart</h1>
        <p class="subtitle">Discover global flavors, just a click away.</p>

        <h2 class="welcome-msg">
        {% if user.is_authenticated %}
            {% blocktrans %}Welcome, {{ user.username }}! Your favorite treats await.{% endblocktrans %}
        {% else %}
            {% blocktrans %}Welcome, Traveler! Your favorite treats await.{% endblocktrans %}
        {% endif %}
        </h2>

        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
            {% get_providers as social_providers %}
            {% for provider in social_providers %}
                <li>
                    <a title="{% blocktrans with provider_name=provider.name %}Sign in via {{ provider_name }}{% endblocktrans %}"
                        class="socialaccount_provider {{ provider.id }}"
                        href="{% provider_login_url provider.id process='login' %}">
                    {{ provider.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            <div class="login-or">{% trans 'or' %}</div>
        </div>

        <form method="post" class="login-form">
            {{ login_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="login-button">
                <span class="chopsticks"></span> {% trans "Login" %}
            </button>
        </form>

        <p class="register-link">
            {% translate "New here?" %} <a href="{% url 'product_post:register' %}">{% translate "Sign up" %}</a> {% translate "and start exploring!" %}
        </p>
    </div>

    <div class="floating-food-wrapper">
        <img src="{% static 'product_post/images/snack5.png' %}" class="floating-food sushi" />
        <img src="{% static 'product_post/images/snack3.png' %}" class="floating-food ramen" />
        <img src="{% static 'product_post/images/snack21.png' %}" class="floating-food boba" />
        <img src="{% static 'product_post/images/snack8.png' %}" class="floating-food snack8" />
        <img src="{% static 'product_post/images/snack12.png' %}" class="floating-food snack12" />
        <img src="{% static 'product_post/images/snack18.png' %}" class="floating-food snack18" />
    </div>

</body>
{% endblock %}