<nav class="navbar">
    <div class="logo">
        <a href="/">Storefront</a>
    </div>
    <ul class="nav-links">
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="nav-icons">
        <a href="{% url 'product_post:loginformpage' %}"><img src="/static/product_post/icons/login1.svg" alt="login" width="30" height="30"></a>
        <a href="{% url 'product_post:register' %}"><img src="/static/product_post/icons/register1.svg" alt="register" width="30" height="30"></a>
    </div>

   <form method="get" action="{% url 'product_post:product_search' %}">
        <input type="text" placeholder="Search" name="query">
        <button type="submit">Submit</button>
    </form>
</nav>
