__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*
env/
venv/
ENV/
.venv/
*.log
# Migrations (optional: you can ignore migrations if you prefer)
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.log