<!-- list of stores -->

{% extends 'storefront/base.html' %}
{% load static %}

{% block title %}Store List{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="list-container">
    <h1>Orders placed</h1>
    <ul class="store-list">
        {% for order in orders %}
            <li>
                <a href="{{ order.get_absolute_url }}">{{ order.product }} - {{order.placedDate}}</a> 
            </li>
        {% empty %}
            <li>No orders placed.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

