{% extends "product_post/base.html" %}
{% load static %}

{% block title %} {{ product.name }} {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/product_post/product_detail.css' %}">
    <h1> {{product.name}} </h1>
    <p class="date">
        Listed: {{ product.publish }} by {{ product.store }}
    </p>
    <p> Average Rating: {{product.avg_rating}} </p>

    <img src="{{product.image.url}}" width=500, height=500>

    <!-- Place post details here -->
    <p class="description">
        {{ product.description }}
    </p> 

    <a href="{% url 'order:place_order' product.id %}"> Buy </a>

    {% with reviews.count as total_reviews %}
        <h3> Reviews: {{ total_reviews }} </h3>
    {% endwith %}

    <!-- SIMILAR PRPODUCTASFSDSZCZSA -->
    <h3>Similar Products </h3>
    <table>
        <tr>
            {% for similar_product in similar_products %}
            <td>
                <img src="{{similar_product.image.url}}" alt="{{similar_product.name}}" width=50 height=50>
                <h5><a href="{{ similar_product.get_absolute_url }}">{{ similar_product.name }}</a></h5>
                <p> Rating: {{ similar_product.avg_rating }} </p>
            </td>

            {% empty %}
            <td>
                <h5>There are no similar products </h5>
            <td>
            {% endfor %}
        </tr>
    </table>


    <!-- REVIEWS LIST -->
    <!-- will consider adding pagination if I have the motivation -->
    {% for review in reviews %}
    <div class="review">
        <p class="user">
            {{ review.user }} <span class="date">{{ review.dateadded }}</span>
        </p>
        <p class="rating">
            {{ review.rating }} out of 5
        </p>
        <p class="reviewtext">
            {{ review.text }}
        </p>
    {% empty %}
    <p class="emptyreviews">There are no reviews yet.</p>

    {% endfor %}

    <!-- USER -->
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}! <a href="{% url 'product_post:logout' %}">Logout</a></p>
    {% else %}
        <p><a href="{% url 'product_post:loginformpage' %}">Login</a></p>
    {% endif %}

    <!-- REVIEW FORM -->
    {% if new_review %}
        <h3> Your review has been added. </h3>
    {% else %}
        <h2> Add a new Review </h2>
        <form class="reviewform" method="post">
            {{ review_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add Review"></p>
        </form>
    {% endif %}


{% endblock %}
