{% extends "product_post/base.html" %}

{% block title %} Wandermart : Product list {% endblock %}

{% block content %}

<!-- Add list of products here -->
<h1> List of products </h1>

{% for product in products %}
    <div class="product_item">
    <h2> <a href="{{ product.get_absolute_url }}">
        {{ product.name }}
    </a> </h2>

    <p class="date">
        Listed: {{ product.publish }}
    </p>
    <p class="stock">
        Stock: {{ product.stock }}
    </p>

    </div>

{% endfor %}

{% include "pagination.html" with page=page_obj %}

{% endblock %}

{% include "footer.html" with page=page_obj %}