<!-- detailed store page -->
{% extends 'storefront/base.html' %}
{% load static %}

{% block title %}Store Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}

{% block content %}
<div class="store-container">
    <h1>{{ store.storename }}</h1>
    <div class="store-info">
        <p><strong>Owner:</strong> {{ store.owner }}</p>
        <p><strong>Location:</strong> {{ store.address }}</p>
        <p><strong>Phone Contact:</strong> {{ store.phonecontact }}</p>
        <p><strong>Email address:</strong> {{ store.emailcontact }}</p>
        <p><strong>Date Created:</strong> {{ store.datecreated }}</p>
    </div>
</div>
{% endblock %}

